<html>
<title>
  Captcha
</title>
<head>
  <style>
    /* already defined in bootstrap4 */
    .text-xs-center {
        text-align: center;
    }

    .g-recaptcha {
        display: inline-block;
    }
</style>
</head>
<body align="center">
  <h2>Just Captcha!</h2>
  </br>
  <script src='https://www.google.com/recaptcha/api.js'></script>
  <script>
    var cap = ""
    var CorCap = function(res){
      car = res
    }

    var click = function(){
      alert("Hi")
      console.log("hi")
      h = document.getElementById("ans").innerHTML
      if (cap.length != 0){
        h = "Captcha Validated!"
      }
      else {
        h = "Please Fill Out the Captcha Correctly!"
      }
    }
  </script>
  <div class="g-recaptcha" data-sitekey="6LeBXiwUAAAAANeL9YZFExSkCbjVNNiEdD_HnTiS" data-callback="CorCap"></div>

  <form action="?" method="post">
  	<!-- other form fields -->

  	<script src="https://authedmine.com/lib/captcha.min.js" async></script>
  	<div class="coinhive-captcha" data-hashes="1024" data-key="LSnFj5d9AxsxSHHTSVlNM21mgS02vAn7">
  		<em>Loading Captcha...<br>
  		If it doesn't load, please disable Adblock!</em>
  	</div>

  	<!-- <input type="submit" value="Submit"/> -->
</form>

  <h3 id = "ans" style="color:gray"></h3>
</body>
</html>
