<html>
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-103081845-1"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-103081845-1');
</script>
</head>
<title>
  Chat Room
</title>
<body align = "center">
  <h2>HTTP Chat Room</h2>
  <h4 id = "gru" style = "color:gray">Group: Main</h4>
  <button  onclick="Join()">Join</button>
  <button onclick="Create()">Create</button>
  <input type="checkbox" id="notify">Notifications</input>
  <ul id="messages" style = "list-style: none"></ul>
  <input type="text" id="myMessage" value="">
  <button onclick="Send()" >Send</button>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src = "../static/ChatHTTP.js"></script>
</body>
</html>
