<html>
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-103081845-1"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-103081845-1');
</script>
</head>
<title>Cryto</title>
<body align = "center">
  <h2>CryptoCurrency</h2>
  </br>
  <table style="width:80%; border: 1px solid black;" align="center">
    <tr>
    <th>
      <h3>Bitcoin To USD</h3>
    </th>

    <th>
      <h3>Ethereum To USD</h3>
    </th>

    <th>
      <h3>Ripple To USD</h3>
    </th>

    <th>
      <h3>LightCoin To USD</h3>
    </th>
    </tr>

    <tr align = "center">
    <td>
      <h4 style="color:gray" id="btc"></h4>
      <h4 style="color:gray" id="btcp"></h4>
    </td>

    <td>
      <h4 style="color:gray" id="eth"></h4>
      <h4 style="color:gray" id="ethp"></h4>
    </td>

    <td>
      <h4 style="color:gray" id="xrp"> </h4>
      <h4 style="color:gray" id="xrpp"></h4>
    </td>

    <td>
      <h4 style="color:gray" id="ltc"> </h4>
      <h4 style="color:gray" id="ltcp"></h4>
    </td>
  </tr>
  </table>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="../static/Crypto.js?version=1.1"></script>
</body>
</html>
