<html>
<title>Docs</title>
<meta http-equiv="cache-control" content="max-age=0" />
<meta http-equiv="cache-control" content="no-cache" />
<meta http-equiv="expires" content="0" />
<meta http-equiv="pragma" content="no-cache" />
<body>
  <div align = "left">
    <input type="button" value="New" onclick="New()">
    <input type="button" value="Save" onclick="Save()">
    <input title="Open" type="file" id="fileInput" style = "input-style:none;">
  </div>
  <div align="center">
    <textarea rows="40" cols="150" spellcheck="true" id = "text"> </textarea>
  </div>
  <script src="../static/Docs.js?version=0.1"></script>
  <script src="../static/FileSaver.js"></script>

</body>
</html>
