<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Game Of Life</title>
    <h2>Game of Life</h2>
    <h4 style="color:Gray">Made by Dvir Akerman</h4>
    <h5 style="color:Gray">Inspiered by John Conway</h5>
  </head>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-103081845-1', 'auto');
  ga('send', 'pageview');

  </script>
  <body align = "center">
    <canvas id = "myCan" width = 500 height = 500 style="border:1px solid #000000;"></canvas>
    <script>
    var ssize = prompt("What is the canvas size? (default 50)")
      if (ssize == ""){
        ssize = 50
      }else{
        ssize = parseInt(ssize)
      }
      var c = document.getElementById("myCan");
      var ctx = c.getContext("2d");
      var onoff = true
      var play = false
      var boxes = new Array(ssize*ssize);
      var nboxes = new Array(boxes.length);
      var sc = 0
      var pixelsize = c.width/ssize

      for (g=0;g<boxes.length;g++){
        boxes[g] = false
        nboxes[g] = false
      }

      var One = function(){
        play = true
        main()
        play = false
      }

      var Start = function(){
        play = true
      }

      var Stop = function(){
        play = false
      }

      var Clear = function(){
        for (g=0;g<boxes.length;g++){
          boxes[g] = false
          nboxes[g] = false
        }
        Stop()
        One()
      }

      var findloc = function(x,y){
        var c = document.getElementById("myCan");
        var loc = 0
        loc += x/(pixelsize)
        loc += y/(pixelsize) * ssize
        // console.log(loc)
        return(loc)
      }

      var Draw = function(event){
        var x = event.x;
        var y = event.y;

        var c = document.getElementById("myCan");

        x -= c.offsetLeft;
        y -= c.offsetTop;

        x = parseInt(x/(pixelsize))
        x = x * pixelsize
        y = parseInt(y/(pixelsize))
        y = y * pixelsize

        if (onoff){
          ctx.fillStyle = "Black";
        }else{
          ctx.fillStyle = "White";
        }
        ctx.fillRect(x, y, pixelsize, pixelsize);

        boxes[findloc(x,y)] = onoff
      }

      var main = function(){
        var pm = document.getElementById("pm")
        if (onoff){
          pm.innerHTML = "+"
        } else {
          pm.innerHTML = "-"
        }

        if (play){
          for (i = 0;i < boxes.length;i++){
            var x = (i % ssize) * (pixelsize)
            var y = (parseInt(i/ssize)) * (pixelsize)

            if (boxes[i] == true){
              ctx.fillStyle = "Black";
              ctx.fillRect(x, y, pixelsize, pixelsize);
            } else {
              ctx.fillStyle = "White";
              ctx.fillRect(x, y, pixelsize, pixelsize);
            }
          }
          for (i = 0;i < boxes.length;i++){
            var nbrs = 0
            if (boxes[i-ssize-1] == true){
              nbrs++
            }
            if (boxes[i-ssize] == true){
              nbrs++
            }
            if (boxes[i-ssize+1] == true){
              nbrs++
            }
            if (boxes[i+1] == true){
              nbrs++
            }
            if (boxes[i+ssize+1] == true){
              nbrs++
            }
            if (boxes[i+ssize] == true){
              nbrs++
            }
            if (boxes[i+ssize-1] == true){
              nbrs++
            }
            if (boxes[i-1] == true){
              nbrs++
            }

            if (nbrs < 2 && boxes[i] == true){
              nboxes[i] = false
            }
            if (nbrs > 3 && boxes[i] == true){
              nboxes[i] = false
            }
            if (boxes[i] == true){
              if (nbrs == 2 || nbrs == 3){
                nboxes[i] = true
              }
            }
            if (boxes[i] == false && nbrs == 3){
              nboxes[i] = true
            }
          }
          for (h=0;h<boxes.length;h++){
            boxes[h] = nboxes[h]
          }
        }
      }

      var update = setInterval(main,100)

      window.addEventListener('keydown', function(event){
        switch (event.keyCode) {
          case 187: // +
            onoff = true
          break;

          case 189: // -
            onoff = false
          break;

          case 32: // space
            if (play){
              Stop()
            } else {
              Start()
            }
          break;
        }})

      c.addEventListener("mousedown", Draw, false);

    </script></br>

    <input type="Button" id = "Start" onclick="Start()" value = "Start">
    <input type="Button" id = "Stop" onclick="Stop()" value = "Stop">
    <input type="Button" id = "One" onclick="One()" value = "One Frame">
    <input type="Button" id = "Clear" onclick="Clear()" value = "Clear">
    <p id = "pm">+</p>
  </body>
</html>
