<html>
<meta http-equiv="cache-control" content="max-age=0" />
<meta http-equiv="cache-control" content="no-cache" />
<meta http-equiv="expires" content="0" />
<meta http-equiv="pragma" content="no-cache" />
<title>Graphing</title>
<body align = "center">
  <h2>Graphing</h2>
  <h4 style="color:gray">Type The Equation In The Text Field Below. Use X.</h4>
  <canvas width = "1000" height="500" style="border:1px solid #000000;" id = "myCan"></canvas>
  </br>
  <ul id="EqList" style="list-style:none">
    <li>
      <input type="text" id = "Eq" value=""><input type="color" id="co0" value="#0000ff">
    </list>
  </ul>
  <input type="button" value=" + " onclick="Add()">
  </br>
  <h5 id = "error"> </h5>
  <script src="../static/math.js"></script>
  <script src="../static/Graph.js?versoin=2.0.1"></script>
</body>
</html>
