<html>
<title>Homepage</title>
<body align = "center">

<h1>Dvir Akerman</h1>
<a href = "https://spotpixle.herokuapp.com">SPOT</a></br>
<a href = "/Agar">Agar</a></br>
<a href = "/Cam/">Camera - work in progress</a></br>
<a href = "/GOL/">Game of Life</a></br>
<!-- <a href = "/SMP/">Socket Message Ping</a></br> -->
<a href = "/PianoThing/">Messing With Sound</a></br>
<a href = "/Donate">Donate</a></br>
<a href = "/Cap">Captcha</a></br>
<a href = "https://renderhaf.github.io/HFDAP/">High Frequency Audio Data Protocol</a></br>
<a href = "/ChatRoom/">HTTP Chat Room</a></br>
<a href = "/WhiteNoise/">Full Screen White Noise</a></br>
<a href = "/GA/">Google Ads</a></br>
<a href = "/Graph/">Graphing</a></br>
<a href = "/NPS/">Notepad #</a></br>
<a href = "/Crypto/">Crypto</a></br>
<a href = "https://renderhaf.github.io/CamEffects/">Camera Effects</a></br>
<a href = "/PicTxt/">Picture and Text</a></br>
<a href = "/CryptoCount/">CryptoCounter</a></br>
<a href = "/TABS/">Tab Opener</a></br>
<a href = "/Mine/">Monero Miner</a></br>
<a href = "/jsSandbox/">Javascript SandBox</a></br>
<a href = "https://kakakoin.herokuapp.com">KakaKoin</a></br>
<a href = "https://renderhaf.github.io/Powdered/">Powdered</a></br>
<a href = "/PaintX">PaintX</a></br>
</html>
