<html>
<title>Homepage</title>
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-103081845-1', 'auto');
ga('send', 'pageview');

</script>
<body align = "center">
<h1>Dvir Akerman</h1>
<a href = "https://spotpixle.herokuapp.com">SPOT</a></br>
<a href = "/Agar">Agar</a></br>
<a href = "/GOL/">Game of Life</a></br>
<a href = "/SMP/">Socket Message Ping - Work in Progress</a></br>
</body>
</html>


<!-- if (boxes[i] == true){
  console.log("FOUND TRUE BLOCK")
  ctx.fillStyle = "Black";
  ctx.fillRect(x, y, c.width/ssize, c.height/ssize);
} else {
  // console.log("FOUND FALSE BLOCK")
  ctx.fillStyle = "White";
  ctx.fillRect(x, y, c.width/ssize, c.height/ssize);
} -->
