<html>
<title>Homepage</title>
<body align = "center">

<h1>Dvir Akerman</h1>
<a href = "https://spotpixle.herokuapp.com">SPOT</a></br>
<a href = "/Agar">Agar</a></br>
<a href = "/GOL/">Game of Life</a></br>
<a href = "/SMP/">Socket Message Ping - Work in Progress</a></br>
</html>


<!-- if (boxes[i] == true){
  console.log("FOUND TRUE BLOCK")
  ctx.fillStyle = "Black";
  ctx.fillRect(x, y, c.width/ssize, c.height/ssize);
} else {
  // console.log("FOUND FALSE BLOCK")
  ctx.fillStyle = "White";
  ctx.fillRect(x, y, c.width/ssize, c.height/ssize);
} -->
