<html>
<title>Monero Miner</title>
<body align = "center">
  <h2>Monero Miner</h2>
  <input type="button" value="START" onclick="pp()" id = "bb"></br>
  Power : <input type="range" min="0" max="100" value="75" oninput="pchange()" id = "changes">
  <h4 style="color: gray" id = "hashed">Hashed : </h4>
  <script src="https://authedmine.com/lib/authedmine.min.js"></script>
  <script>
    var miner = new CoinHive.Anonymous('6LeBXiwUAAAAANeL9YZFExSkCbjVNNiEdD_HnTiS', {throttle: 0.25});
    var onoff = false;

    function pp(){
      var b = document.getElementById("bb");
      if (!onoff){
        miner.start()
        b.value = "STOP"
      } else {
        miner.stop()
        b.value = "START"
      }
    }

    function pchange(){
      var c = document.getElementById("changes");
      var v = 100 - c.value;
      console.log(v/100);
      miner = new CoinHive.Anonymous('6LeBXiwUAAAAANeL9YZFExSkCbjVNNiEdD_HnTiS', {throttle: v / 100});
    }

    function update(){
      var c = document.getElementById("hashed");
      var hs = miner.getAcceptedHashes();
      c.value = "Hashed : " + hs;
    }

    var a = setInterval(update,1000)


  </script>
</body>
</html>
