<html>
<title>
  Mail Sender
</title>
<body align = "center">
  <h2>The Mail Sender</h2>
  <h4 style="font-color:Gray">By Dvir Akerman</h4>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script>
  function Send(){
    to = document.getElementById("to").value
    title = document.getElementById("title").value
    $.post("/MailSender/",{"To" : to, "Title": title}, function(data, status){
        console.log("Message got to server")
    });
  }
  </script>
  <input id = "to" type = "text" value="To:"></br>
  <input id = "title" type = "text" value="Title:"></br>
  <input id = "Sender" type = "button" onclick = "Send()" value = "Send">
</body>
</html>
