<html>
<title>
  Piano Thing
</title>
<head>
</head>
<body align = "center">
  <div class = "container" style = "margin: auto">

  <h2>Piano - Use the Keyboard to Play</h2>
  <h4 style="color: gray">Use The Keys A to \ To Control The Keyboard. Use the + and - Buttons or the arrow keys to change the ocatave.</h4>
  <h4 style = "color: Gray">By Dvir Akerman</h4>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/qwerty-hancock/0.5.1/qwerty-hancock.js"></script>

  <select id = "select">
    <option value="square">Squere</option>
    <option value="sawtooth">Sawtooth</option>
    <option value="triangle">Triangle</option>
    <option value="sine">Sine</option>
  </select>

  </br>

  <div id="keyboard"></div></br>
  <!-- <link rel="stylesheet" href="../static/piano.css"> -->

  <input type="button" value="-" onclick="Down()">
  <input type="button" value="+" onclick="Up()">

  <script src = "../static/Piano.js"></script>
</div>
</body>
</html>
