<html>
<title>PictureText</title>
<body align = "center">
  <h2>Pictures And Text</h2>
  <h4 style="color:gray">Convert text to images and vise versa</h4>
  <input type="button" onclick="totext()" value="To Text">
  <input type="button" value="To Image" onclick="clickfile()">
  <input type="file" id="fileinput" style = "display:none;"><input type="button" value="Import Picture" onclick="clickImage()">
  <input type="file" id="textfileinput" onchange="toImage()" style="display:none;">

</br></br>
  <canvas width = "400" height="400" id="myCan" style="border:1px solid #000000"></canvas>
  <script src="../static/FileSaver.js"></script>
  <script src="../static/PicTxt.js?version=1.1"></script>
</body>
</html>
