<!DOCTYPE html>
<html>
<title>SPOT</title>
<body align="center">
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-103081845-1', 'auto');
  ga('send', 'pageview');

  </script>
  <h2>This is the SPOT<h2>
  <h5 style = "color:Gray">Made by user Dvir Akerman<h5>

<canvas id="myCan" width="1000" height="500" style="border:1px solid #000000;"></canvas></br></br>

  <input type="button" id="Red" value = " " style = "background:Red" onclick ="Red()">
  <input type="button" id="Blue" value = " " style = "background:Blue" onclick ="Blue()">
  <input type="button" id="Green" value = " " style = "background:Green" onclick ="Green()">
  <input type="button" id="Yellow" value = " " style = "background:Yellow" onclick ="Yellow()">
  <input type="button" id="Black" value = " " style = "background:Black" onclick ="Black()">
  <input type="button" id="Black" value = " " style = "background:Orange" onclick ="Orange()">
  <input type="button" id="Black" value = " " style = "background:Pink" onclick ="Pink()">
  <input type="button" id="White" value = " " style = "background:White" onclick ="White()"><br/><br/>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="../static/Spot.js"></script>
</body>
</html>
